// Primary
$primary: #ECC80B;

// Primary Hover
$primary-hover: #ECB50B;

// Secondary
$secondary: #1A1A1A;

// Heading
$heading: #FEFEFE;

// Text
$text: #C8C8CD;

// Text Gray
$text-gray: #C2D4F8;

// Border
$border: rgba(254, 254, 254, 0.20);

// Light Border
$light-border: rgba(26, 26, 26, 0.30);

// Background
$bg: #0E0E0E;

// Light Background
$light-bg: #F6F5F3;

// Gray
$gray: #F1F4FD;

// White
$white: #FFFFFF;

// Success
$success: #198754;

// Warning
$warning: #FFC107;

// Info
$info: #0DCAF0;

// Danger
$danger: #DC3545;